@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}


body {
    background-color: #394508;
}

.header {
    background: #394508;
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo--image {
    width: 6rem;
}

.header_cta, .cta_btn {
    border: none;
    padding: 0.66rem 1rem;
    background-color: #D2FD9C;
    border-radius: 0.33rem;
    cursor: pointer;
}

.hero {
    padding: 1.4rem;
    background: #394508;
    color: #ffffff;
}

.hero-title {
    width: 64%;
    font-weight: 400;
    font-size: 2.66remx;
    letter-spacing: -2%;
    line-height: 110.8%;
    margin-bottom: 1.66rem;
    text-transform: capitalize;
}

.hero-title--marked {
    color: #D2FD9C;
}

.hero_subtitle {
    width: 80%;
    font-weight: 400;
}

.offerings {
    padding: 0.7rem 1.4rem;
    color: #D2FD9C;
    position: relative;
}

.offerings-text {
    margin-bottom: 1.66rem;
}

.offerings_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3.2rem;
}  

.offerings_item {
    background: #619111;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.7rem 1.4rem;
    color: black;
    border-radius: 0.3rem;
}

.offering_item--image {
    width: 36px;
    margin-bottom: 16px;
}

.offering_item--name {
    text-align: center;
    font-size: 0.8rem;
}

.offering_floating {
    display: flex;
}

.offering_floating--links {
    color: #D2FD9C;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 1rem;
    font-size: 0.8rem;
}


/* Reset Image: Delete later */

img {
    width: 4rem;
}

/* 


.hero {
    padding: 50px 60px 24px 60px;
    background: #394508;
    color: #ffffff;
}

.hero-title {
    width: 440px;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 110.8%;
    margin-bottom: 32px;
    text-transform: capitalize;
}

.hero-title--marked {
    color: #D2FD9C;
}

.offerings {
    padding: 30px 60px;
    color: #D2FD9C;
    position: relative;
}

.offerings-text {
    margin-bottom: 20px;
}

.offerings_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 52px;
}   

.offerings_item {
    background: #619111;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 52px 28px;
    color: black;
    border-radius: 6px;
}

.offering_item--image {
    width: 36px;
    margin-bottom: 32px;
}

.offering_item--name {
    width: 100px;
    text-align: center;
}

.offering_floating {
    display: flex;
}

.offering_floating--links {
    color: #D2FD9C;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 24px;
}

.white {
    background: #ffffff;
    margin: 32px 0px 0px 0;
    padding: 60px;
    width: 100%;
}

.banner_image {
    width: 100%;
}

.banner_heading {
    width: 40%;
    margin: 52px auto;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.partner {
    width: 16%;
}

.partner--last {
    width: 12%;
}

.getmore {
    padding: 80px 0;
    text-align: center;
}

.promo_title, .getmore_title, .firstclass_title {
    font-size: 48px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #394508;
    text-align: center;
}

.getmore_desc {
    width: 50%;
    margin: 0 auto;
    color: #394508;
}

.getmore_cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 49.2% 49.2%;
    gap: 20px;
}

.getmore_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D2FD9C;
    padding: 48px 0;
    border-radius: 10px;
}

h5.getmore_card--image {
    font-size: 72px;
    font-weight: 400;
    display: inline;
    text-align: center;
    margin-bottom: 16px;
}

img.getmore_card--image {
    width: 30%;
    margin-bottom: 24px;
}

.getmore_card--desc {
    text-transform: capitalize;
}

.promo_cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo_card {
    width: 48%;
}

.promo_image {
    width: 100%;
}

.promo_card--title {
    text-transform: capitalize;
    color: #394508;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.promo_desc {
    color: #5d5d5d;
}

.promo_banner--image {
    width: 100%;
    margin: 92px 0;
}

.firstclass {
    padding-top: 60px ;
}

.firstclass_subtitle {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #394508;
}

.firstclass_cards {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstclass_card--container {
    width: 23%;
    text-align: center;
}

.firstclass_card {
    width: 100%;
    margin-bottom: 12px;
}

.cta {
    margin: 72px 0;
    width: 100%;
    height: 100vh;
    background-image: url('Assets/CTA\ content.png');
    background-size: cover;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 84px 100px;
}

.cta_text {
    font-size: 48px;
    width: 60%;
    color: #ffffff;
    line-height: 120%;
    margin-bottom: 24px;
}

.footer {
    background-color: #ededed;
    padding: 32px 60px 48px 60px;
    height: 350px;
    display: flex;
}

.footer_logo--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}

.footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.etran_Logo {
    width: 3rem;
}

.etran_text {
    width: 5rem;
}

.socio, .footers_others > a {
    text-decoration: none;
    display: block;
}



.footer_contact {
    margin-bottom: 8px;
    color: #5d5d5d;
    font-size: 1rem;
    font-weight: 400;
}
.socio {
    color: #0e0e0e;
}

.footers_others > a {
    color: #5d5d5d;
}

 */
