@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #394508;
}

.header {
    background: #394508;
    padding: 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.logo--image {
    width: 8rem;
}

.header_cta {
    border: none;
    padding: 12px 16px;
    background-color: #D2FD9C;
}

.hero {
    padding: 50px 60px 24px 60px;
    background: #394508;
    color: #ffffff;
}

.hero-title {
    width: 440px;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 110.8%;
    margin-bottom: 32px;
    text-transform: capitalize;
}

.hero-title--marked {
    color: #D2FD9C;
}

.offerings {
    padding: 30px 60px;
    color: #D2FD9C;
    position: relative;
}

.offerings-text {
    margin-bottom: 20px;
}

.offerings_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 52px;
}   

.offerings_item {
    background: #619111;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 52px 28px;
    color: black;
    border-radius: 6px;
}

.offering_item--image {
    width: 36px;
    margin-bottom: 32px;
}

.offering_item--name {
    width: 100px;
    text-align: center;
}

.offering_floating {
    /* position: absolute;
    bottom: 0; */
    display: flex;
}

.offering_floating--links {
    color: #D2FD9C;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 24px;
}

.white {
    background: #ffffff;
    margin: 32px 0px;
    padding: 60px;
    width: 100%;
}

.banner_image {
    width: 100%;
}

.banner_heading {
    width: 40%;
    margin: 52px auto;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.partner {
    width: 16%;
}

.partner--last {
    width: 12%;
}

.getmore {
    padding: 80px 60px;
    text-align: center;
    color: #394508;
}

.getmore_title {
    font-size: 48px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.getmore_desc {
    width: 50%;
    margin: 0 auto;
}

.getmore_cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 20px;
}

.getmore_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D2FD9C;
    padding: 48px 0;
    border-radius: 10px;
}

h5.getmore_card--image {
    font-size: 72px;
    font-weight: 400;
    display: inline;
    text-align: center;
    margin-bottom: 16px;
}

img.getmore_card--image {
    width: 30%;
    margin-bottom: 24px;
}

.getmore_card--desc {
    text-transform: capitalize;
}

