@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.header {
    background: #394508;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.logo--image {
    width: 8rem;
}

.header_cta {
    border: none;
    padding: 12px 16px;
    background-color: #D2FD9C;
}